[Unit]
Description= frp server
After =network.target syslog.target
Want =network.target
[Service]
Type =simple
# 启动frps的命令,需要修改未您的frps的安装路径
Excstart=/AAA/frp_0.65.0_linux_amd64/frps  -c   /AAA/frp_0.65.0_linux_amd64/frps.toml
# 
ExecStop=/bin/kill $MAINPID
Restart=always
RestartSec=5
WantedBy=multi-user.target